<div class="modal fade" id="update-modal" tabindex="-1" aria-labelledby="update-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-modal-label">Update Lesson</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Lesson" asp-action="Update" method="post">
                <input type="hidden" id="txtUpdateLessonId" name="Id">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" id="txtUpdateLessonName" class="form-control" name="Name" required>
                        <label for="txtLessonName">Lesson Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" id="txtUpdateDescription" class="form-control" name="Description">
                        <label for="txtDescription">Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" id="txtUpdateClassLevel" class="form-control" name="ClassLevel" required>
                        <label for="txtClassLevel">Class Level</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>