@model PageInfoViewModel

<div class="d-flex justify-content-between align-items-center mt-3">
    <nav>
        <ul class="pagination mb-0">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?currentPage=@(Model.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?currentPage=@i">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPageCount)
            {
                <li class="page-item">
                    <a class="page-link" href="?currentPage=@(Model.CurrentPage + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>